body {
  font-size: 10px;
  margin: 0;
}
.main {
  position: relative;
}
.main-contact {
  position: absolute;
  z-index: 1;
  height: 43rem;
  text-align: center;
  color: #fff;
  background-color: #c60b0b;
}
.main-contact-info {
  margin: 7rem auto;
}
.main-contact-info .header {
  font-size: 3rem;
  line-height: 3.4rem;
  margin: 0;
}
.main-contact-info p {
  font-size: 1.8rem;
  margin-top: 3.4rem;
  line-height: 2rem;
}
.main-contact-info a {
  display: block;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-top: 3.4rem;
  list-style: none;
  color: #fff;
}
.main-map {
  margin: 0;
  padding: 0;
}
.footer {
  height: 9.4rem;
  background: #fff;
}
.footer .logo {
  margin-top: 2rem;
}
.footer .logo::before {
  content: '';
  display: inline-block;
  height: 6rem;
  width: 6rem;
  background: url(../img/logo.png) center no-repeat;
}
.footer .logo p {
  display: inline-block;
  margin-left: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.footer .sertification {
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.footer .adress {
  margin-top: 2rem;
  text-align: right;
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: bold;
}
.footer .adress .phone {
  font-size: 2.2rem;
}
