/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
.button {
  background-color: #ffb500;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
}
/* Typography */
section {
  padding: 10rem 0;
}
/* main */
main {
  padding: 2rem 0;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.phone-link {
  display: inline-block;
  color: #24212a;
  font-weight: 900;
  font-size: 1.5rem;
  height: 7rem;
  line-height: 7rem;
}
